[Cc]onfig/core.php
[Cc]onfig/database.php
app/tmp/*
app/webroot/files/images/*
app/webroot/files/thumbs_/*
app/tmp/cache/persistent/*
app/[Cc]onfig/core.php
app/[Cc]onfig/database.php
!empty
nbproject
/nbproject
/nbproject/private/
/app/tmp/cache/persistent/
app/tmp/cache/models/
/app/Config/my_configs.php
