/* 
    Document   : document
    Created on : Apr 20, 2013, 4:26:15 PM
    Author     : TNT
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

/* mượn trả tài liệu */
  .clear {
        clear: both;
    }
    #form-top fieldset {
        margin-top: 10px;
        background: #fff url('../img/bg_ip.png') repeat-x top center;
    }
    #form-top legend {
        color: red;
        font-size: 1.53em;
        font-weight: bold;
        margin: 0px 0px 5px 15px;
        padding-bottom: 5px;
        font-weight: bold;
    }
    #form-top img {
        float: left;
        margin-left: 30px;
        width: 120px;
        height: 130px;
    }
    #form-top p {
        height: 35px;
        float: right;
        display: block;
        margin-right: 15px;
    }
    #form-top label {
        width: 120px;
        margin: 0px 10px 0px 20px;
        font-size: 1.3em;
        font-weight: normal;
        display: block;
        float: left;
        clear: left;
    }

    #form-top p input {
        width: 250px;
        height: 20px;
        padding: 3px;
    }
    #button-return {
        float: right;
        clear: right;
        margin: 70px 400px 10px 0px;
    }
    #button-return input {
        width: 125px;
        margin-left: 20px;
    }