.textboxLogin {
    height: 15px !important;
    width: 100px;
    font-size: 12px !important;
    text-align: center;
}
.btn {
    border-radius: 0px !important;
}
/*#flashMessage {
    text-align: center;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    padding: 7px;
    border-radius: 4px;
}*/
.categories h4 {
    color:  #882132;;
    /*color:  #E18728;*/
}
#sidebar {
    border: 1px solid #C9C9C9;
    padding-right: 10px;
}
.notification .close{
    margin: 5px;
}
h1,h2,h3,h4 {
    font-family: Verdana !important;
}
.read-more-link {
    float: right;
    margin-right: 15px;
} .prefer_books .title {
    color: #0182b5;
    /*border-bottom: solid 4px #eaeaea;*/
    padding: 0 0 8px 1px;
}
#logo { 
    /*background: url(/images/banner.png);*/
     background: url(/images/banner2.jpg);
    margin-top: 15px;
    margin-bottom: 15px;
}

.devider {
    border-top: 1px solid #D8D8D8;
    padding: 10px 0 10px 0;
}
.article {
    border-bottom: 2px solid #C9C9C9;
}
#navigation ul li a {
    padding-bottom: 1px;
    text-decoration:none;
    color: #882132;
    font-weight: bold;
}
#navigation ul li a:hover {
    color: #DF082C;
    /*border-bottom: 1px solid #E24A63;*/
}
.book-details .book-left {
    margin-left: 15px;
    float: left;
    width: 30%;
}
.book-details .book-right {
    width: 70%;
}
.book-short-view {
    overflow: hidden;
    padding: 10px;
    border-bottom: solid 1px #d8d8d8;
}
.book-short-view .book-short-view-left {
    float: left;
    width: 20%;
    display: inline-block;
}
.book-short-view .book-short-view-right {
    width: 80%;
    display: inline-block;
}
.clear-both {
    clear: both;
}
.book-short-view-right h4 {
    padding: 0;
}
.book-short-view-right a:hover {
    text-decoration: none;
}
#sidebar ul {
    margin: 0 0 10px 10px;
}
.other-books {
    margin-top: 25px;
}

#navigation {
    float: right;
    /*height: 30px;*/
    /*color: #fff;*/
    /*background-color: #3d9abf;*/
}/*
#navigation ul {
    padding-top: 5px;
    padding-right: 5px;
}*/

.title-content {
    margin: 0;
}
.content-header {
    height: 25px;
    width: 50px;
    border: 1px solid #d8d8d8;
}
#news h4 {
    margin-top: 0;
}
.content-title {
    margin-top: 0;
    color: #882132;
    display: inline-block;
    /*border-bottom: solid 2px #eaeaea;*/
}
#flashMessage {
    text-align: center;
    background-color: #FFAD6F;
border-radius: 2px;
}