.textboxLogin {
    height: 15px !important;
    width: 100px;
    font-size: 12px !important;
    text-align: center;
}
.btn {
    border-radius: 0px !important;
}
#flashMessage {
    text-align: center;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
}
.categories h4 {
    color:  #0182b5;
}
#sidebar {
    border-right: 1px solid #C9C9C9;
    padding-right: 10px;
}
