.textboxLogin {
    height: 15px !important;
    width: 100px;
    font-size: 12px !important;
    text-align: center;
}
.btn {
    border-radius: 0px !important;
}
/*#flashMessage {
    text-align: center;
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    padding: 7px;
    border-radius: 4px;
}*/
.categories h4 {
    color:  #0182b5;
}
#sidebar {
    /*border-right: 1px solid #C9C9C9;*/
    padding-right: 10px;
}
.notification .close{
    margin: 5px;
}
h1,h2,h3,h4 {
    font-family: Verdana !important;
}
.read-more-link {
    float: right;
    margin-right: 15px;
} .prefer_books .title {
    color: #0182b5;
    /*border-bottom: solid 4px #eaeaea;*/
    padding: 0 0 8px 1px;
}
#logo { 
    background: url(/images/banner.png);
    margin-top: 15px;
    margin-bottom: 15px;
}
.tab-name {
    border-radius: 3px;
    display:  inline-block;
    width: 100%;
    max-width: 250px;
    background: url(/images/tab-background.jpg) repeat-x;
}
.tab-name .tab-ender{
    float: right;
}
.tab-name h4 {
    color: #fff;
    display: inline-block;
    padding: 3px 15px 0 5px;
    margin: 0;
    font-size: 95%;
}
.tab-name h4 :hover {
    color: #6291DF;
    /*    display: inline-block;
        padding: 3px 15px 0 15px;
        margin: 0;*/
}
.tab-content {
    /*background: url(/images/tab-content-bg.jpg) repeat-x;*/
    padding: 10px;
    border: 1px solid #C9C9C9;
    border-radius: 2px;
}
.tab-name .tab-icon {
    padding-left: 10px;
}
.devider {
    border-top: 1px solid #D8D8D8;
    padding: 10px 0 10px 0;
}
.article {
    border-bottom: 2px solid #C9C9C9;
}
#navigation ul li a {
    padding-bottom: 1px;
    text-decoration:none;
}
#navigation ul li a:hover {
     border-bottom: 3px solid #C9C9C9;
}