/* 
    Document   : index
    Created on : Sep 13, 2013, 9:45:09 AM
    Author     : User
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
/* class popup */

.box_popup_login
{
    float: left;
    width: 300px;
}
.title_popup
{
    float: left;
    width: 305px;
    height: 20px;
    vertical-align: top;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px; /*background:url(../images/title_popup.png) no-repeat top left;*/
}
.title_popup_login
{
    float: left;
    width: 305px;
    height: 20px;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    vertical-align: top; /*background:url(../images/title_popup.png) no-repeat top left;*/
}
.text_title_popup
{
    float: left;
    font: bold 11px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    color: #066bb9;
    padding: 2px 2px 2px 2px;
    text-transform: uppercase;
    text-align: left;
    height: 10px;
    vertical-align: text-top;
}

.icon_title_popup
{
    float: right;
    font: bold 11px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    color: #ea3214;
    padding: 2px 2px 2px 2px;
    text-transform: uppercase;
    text-align: left;
    vertical-align: top;
    height: 10px;
    width: 17px;
}

.mid_popup_login
{
    /*background:url(../images/mid_popup.png) top left repeat-y;		*/
    text-align: center;
    width: 320px;
    height: 50px;
}
.mid_popup
{
    /*background:url(../images/mid_popup.png) top left repeat-y;		*/
    height: 120px;
}
.bottom_popup
{
    /*background:url(../images/bottom_popup.png);		*/
    height: 20px;
    text-align: center;
}
.icon_mid_popup
{
    font: normal 12px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    color: #3f3f3f;
    padding: 10px 5px 5px 0px;
    width: 30%;
    text-align: right;
    float: left;
}
.text_mid_popup
{
    font: normal 12px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    text-transform: none;
    color: #3f3f3f;
    padding: 10px 5px 5px 0px;
    width: 65%;
    float: left;
    text-align: center;
}

.text_label_popup
{
    font: normal 12px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    color: #3f3f3f;
    padding: 5px 5px 5px 0px;
    width: 20%;
    text-align: center;
    float: left;
}
.text_input_popup
{
    font: normal 12px Arial, Tahoma, Verdana, Helvetica, sans-serif;
    color: #3f3f3f;
    padding: 5px 5px 5px 0px;
    width: 75%;
    text-align: left;
    vertical-align: middle;
    float: left;
}
.clearboth
{
    clear: both;
    height: 5px;
}
