.jcarouselStyle{
}
.jcarousel-skin-tango-3 .jcarousel-container {
	/**width:220px;299*/
	/*height:250px;*/
	padding:2px
}

.jcarousel-skin-tango-3 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango-3 .jcarousel-container-horizontal {
    /**width: 206px;*/
	/*height:250px; theo chieu cao cua class >> .jcarousel-skin-tango-3 .jcarousel-container*/
}
.jcarousel-skin-tango-3 .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango-3 .jcarousel-clip-horizontal {
	/*width + height full content / hien thi toan bo vung chua*/
    width: 350px;
	float:left;
}

.jcarousel-skin-tango-3 .jcarousel-item {
	/*cao va rong vung chua du lieu*/
	width: 350px;
    /*height: 250px;*/
	padding-bottom:0px;
}

.jcarousel-skin-tango-3 .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango-3 .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango-3 .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango-3 .jcarousel-next-horizontal {
	/*btn right*/
	/* 1 normal*/
    position: absolute;
    top: 112px;
    right: 2px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../images/sprite.png) no-repeat right -822px;
}

.jcarousel-skin-tango-3 .jcarousel-direction-rtl .jcarousel-next-horizontal {
	/*khong hieu*/
    left: 5px;
    right: auto;
    background: url(../images/sprite.png);
}

.jcarousel-skin-tango-3 .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango-3 .jcarousel-next-horizontal:focus {
	/*2 focus*/
    background-position: right -822px;
}

.jcarousel-skin-tango-3 .jcarousel-next-horizontal:active {
	/*3 active*/
    background-position: right -822px;
}

.jcarousel-skin-tango-3 .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango-3 .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango-3 .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango-3 .jcarousel-next-disabled-horizontal:active {
	/* 4 disable*/
    cursor: default;
    background-position: right -853px;
}
/*PRE*/
.jcarousel-skin-tango-3 .jcarousel-prev-horizontal {
	/*1 normal*/
    position: absolute;
    top: 112px;
    left:2px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url(../images/sprite.png) no-repeat left -822px;
}

.jcarousel-skin-tango-3 .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	/*don't know*/
    left: auto;
    right: 5px;
    background: url(../images/sprite.png);
}

.jcarousel-skin-tango-3 .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango-3 .jcarousel-prev-horizontal:focus {
	/*2 focus*/
    background-position: left -822px;
}

.jcarousel-skin-tango-3 .jcarousel-prev-horizontal:active {
	/*3 active*/
    background-position: left -822px;
}

.jcarousel-skin-tango-3 .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango-3 .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango-3 .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango-3 .jcarousel-prev-disabled-horizontal:active {
	/*4 disable*/
    cursor: default;
    background-position: left -853px;
}
.styleImgJcarousel_3{
	width:350px;
	float:left;
	height:250px;
	overflow:hidden;
}
.styleImgJcarousel_3 img{
	width: 350px;
	float:left;
	margin-top:1px
}
/********add new style*********/