.jcarouselStyle{
}
.jcarousel-skin-tango .jcarousel-container {
	/**width:220px;299*/
	/*height:250px;*/
	padding:8px 10px 0 10px
}

.jcarousel-skin-tango .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango .jcarousel-container-horizontal {
    /**width: 206px;*/
	/*height:250px; theo chieu cao cua class >> .jcarousel-skin-tango .jcarousel-container*/
}
.jcarousel-skin-tango .jcarousel-clip {
    overflow: hidden;
}
.jcarousel-skin-tango .jcarousel-clip-horizontal {
	/*width + height full content / hien thi toan bo vung chua (khi click ma slide hien thi ko day du o phan nay thi chinh sua width o day)*/
    width: 210px;
}

.jcarousel-skin-tango .jcarousel-item {
	/*cao va rong vung chua du lieu*/
	width: 208px;
    /*height: 250px;*/
	padding-bottom:0px;
}

.jcarousel-skin-tango .jcarousel-item-horizontal {
	margin-left: 0;
    margin-right: 10px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-item-horizontal {
	margin-left: 10px;
    margin-right: 0;
}
.jcarousel-skin-tango .jcarousel-item-placeholder {
    background: #fff;
    color: #000;
}

/**
 *  Horizontal Buttons
 */
.jcarousel-skin-tango .jcarousel-next-horizontal {
	/*btn right*/
	/* 1 normal*/
    position: absolute;
    top: 73px;
    right: 2px;
    width: 10px;
    height: 26px;
    cursor: pointer;
    background: url(../images/sprite.png) no-repeat -26px -69px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-next-horizontal {
	/*khong hieu*/
}

.jcarousel-skin-tango .jcarousel-next-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-horizontal:focus {
	/*2 focus*/
    background-position: -26px -69px;
}

.jcarousel-skin-tango .jcarousel-next-horizontal:active {
	/*3 active*/
    background-position: -26px -69px;
}

.jcarousel-skin-tango .jcarousel-next-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-next-disabled-horizontal:active {
	/* 4 disable*/
    cursor: default;
    background-position: -26px -152px;
}
/*PRE*/
.jcarousel-skin-tango .jcarousel-prev-horizontal {
	/*1 normal*/
    position: absolute;
    top: 73px;
    left:2px;
    width: 10px;
    height: 26px;
    cursor: pointer;
    background: url(../images/sprite.png) no-repeat  0px -69px;
}

.jcarousel-skin-tango .jcarousel-direction-rtl .jcarousel-prev-horizontal {
	/*don't know*/
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:hover, 
.jcarousel-skin-tango .jcarousel-prev-horizontal:focus {
	/*2 focus*/
    background-position: 0px -69px;
}

.jcarousel-skin-tango .jcarousel-prev-horizontal:active {
	/*3 active*/
    background-position:  0px -69px;
}

.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:hover,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:focus,
.jcarousel-skin-tango .jcarousel-prev-disabled-horizontal:active {
	/*4 disable*/
    cursor: default;
    background-position:  0px -152px;
}
.styleImgJcarousel_1{
	width:92px;
	float:left;
	height:72px;
	overflow:hidden;
	margin:0 0px 2px 5px;
}
.styleImgJcarousel_1 div img{
	width: 120px;
	float:left;
	margin-right:5px;
	margin-top:3px
}
/********add new style*********/
/*new*/
.styleImgJcarousel_1 div{
	position:relative}
.styleImgJcarousel_1 div div{
	position:absolute;
	display:none;
    background: url(../images/transparent_black_1.png) repeat;
	top:3px;
	color:#fff;
	width:92px;
	height:70px;
	font: bold 11px/14px Arial, Helvetica, sans-serif}
.styleImgJcarousel_1 div:hover div{
	position:absolute;
	display:block}	
	